@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: white;
    background: url(.//img/pexels-veeterzy-39811.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}

.container {
    padding: 60px 60px;
}

.current-info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.date-container{
    padding: 30px 30px;
}

.date-container .time {
    font-size: 70px;
    font-weight: 200;
}

.date-container #am-pm {
    font-size: 30px;
    margin-left: 20px;
}

.date-container .date {
    font-size: 30px;
    font-weight: 100;
}

.place-container {
    text-align: end;
}

.place-container .time-zone{
    font-size: 30px;
    font-weight: 100;
}

.place-container .country {
    font-size: 18px;
    font-weight: 700;
}

.current-info .others {
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 25px;
    background-color: rgba(0, 0, 0, 0.7);
    width: 280px;
    height: 150px;
    font-size: 18px;
    border: 1px solid white;
    border-radius: 10px;
}

.current-info .others .weather-item {
    display: flex;
    justify-content: space-between;
}

.future-forecast {
    display: flex;
    flex-direction: row;
}

.future-forecast .today {
    border: 1px solid white;
    border-radius: 10px;
    padding: 43px;
    margin: 30px;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s;
}

.future-forecast .today:hover {
    transform: scale(1.13);
}

.future-forecast .today .day {
    padding: 5px 10px;
    margin-bottom: 60px;
    background: #3c3c44;
    border-radius: 50px;
    text-align: center;
}

.future-forecast .today .temp {
    font-size: 18px;
    padding-top: 15px;
}

.future-forecast .weather-forecast {
    display: flex;
}

 .weather-forecast .weather-forecast-item {
    display: flex;
    background-color: rgba(0, 0, 0, 0.7);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    cursor: pointer;
    transition: 0.5s;
}

.weather-forecast .weather-forecast-item:hover {
    transform: scale(1.13);
}

.weather-forecast .weather-forecast-item .day {
    padding: 5px 15px;
    background: #3c3c44;
    border-radius: 50px;
    text-align: center;
}

.weather-forecast .weather-forecast-item .temp {
    font-size: 18px;
    padding-top: 15px;
}